@page 
@model Phoenix.Pages.Units.EditModel 
@{ ViewData["Title"] = "Edit"; }

<h2>Edit</h2>

<h4>Unit</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Unit.UnitId" />
            <div class="form-group">
                <label asp-for="Unit.CustomerName" class="control-label"></label>
                <input asp-for="Unit.CustomerName" class="form-control" />
                <span asp-validation-for="Unit.CustomerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Unit.CustomerAddress" class="control-label"></label>
                <input asp-for="Unit.CustomerAddress" class="form-control" />
                <span asp-validation-for="Unit.CustomerAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Unit.AppraiserName" class="control-label"></label>
                <input asp-for="Unit.AppraiserName" class="form-control" />
                <span asp-validation-for="Unit.AppraiserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Unit.ModelYear" class="control-label"></label>
                <input asp-for="Unit.ModelYear" class="form-control" />
                <span asp-validation-for="Unit.ModelYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Unit.VIN" class="control-label"></label>
                <input asp-for="Unit.VIN" class="form-control" />
                <span asp-validation-for="Unit.VIN" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <a class="btn btn-info" data-toggle="collapse" href="#audit" role="button" aria-expanded="false" aria-controls="audit">
                    Toggle Audit Info
                </a>
                <div class="collapse" id="audit">
                    <div class="card card-body">
                        <dl class="dl-horizontal">

                            <dt>
                                @Html.DisplayNameFor(model => model.Unit.AddUserID)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Unit.AddUserID)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.Unit.AddDate)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Unit.AddDate)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.Unit.AddDateTimeZone)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Unit.AddDateTimeZone)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.Unit.UpdateUserID)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Unit.UpdateUserID)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.Unit.UpdateDate)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Unit.UpdateDate)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.Unit.LastUpdateTimeZone)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Unit.LastUpdateTimeZone)
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts { @{await Html.RenderPartialAsync("_ValidationScriptsPartial");} }