@page
@model Phoenix.Pages.Units.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Unit[0].CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Unit[0].CustomerAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Unit[0].AppraiserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Unit[0].ModelYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Unit[0].VIN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Unit[0].AddUserID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Unit[0].AddDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Unit[0].AddDateTimeZone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Unit[0].UpdateUserID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Unit[0].UpdateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Unit[0].LastUpdateTimeZone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Unit) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppraiserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModelYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VIN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddUserID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddDateTimeZone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateUserID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastUpdateTimeZone)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.UnitId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.UnitId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.UnitId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
